@model IEnumerable<MVC_Entity.Models.Stay>

@{
    ViewBag.Title = "ListStays";
}

<h2>ListStays</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.client.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.nr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost_paid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.client.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room.nr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost_paid)
        </td>
        <td>
            @Html.ActionLink("Exit", "ExitStay", new { id=item.StayId })
        </td>
    </tr>
}

</table>
