@model IEnumerable<MVC_Entity.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.piso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lotacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custo_dia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.piso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lotacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custo_dia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nr }) |
            @Html.ActionLink("Details", "Details", new { id=item.nr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nr })
        </td>
    </tr>
}

</table>
